.author {
	display: flex;
}

.author-email,
.author-score {
	padding: 9px;
	margin: 1px;
}

.author-email {
	background-color: lightblue;
	flex-grow: 1;
}

.author-score {
	text-align: right;
	background-color: lightgreen;
}

.author-score.is-high {
	background-color: orangered;
}

.author-score:after {
	content: "%";
}
