.author {
	display: flex;
}

.author-email,
.author-score {
	padding: 9px;
	margin: 1px;
}

.author-email {
	background-color: lightblue;
	flex-grow: 1;
}

.author-score {
	text-align: center;
	background-color: lightgreen;
	min-width: 4em;
	transition: background-color 0.25s;
}

.author-score.is-high {
	background-color: darkorange;
}

.author-score.is-medium {
	background-color: lightseagreen;
}

.author-score:after {
	content: "%";
}
